.table_container {
    width: 400px;
    height: 400px;
    padding: 0px;
    table-layout: fixed;
    margin-top: 50px;
    margin-left: 100px;
    border-collapse: collapse;
    vertical-align: center;
}


.settings {
    width: 20vw;
    height: 84vh;
    float: right;
    background-color: #eee;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

table td {
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background: url('../new_2020/bqueen.png') repeat;
    line-height: 50px;
    position: relative;
}

img {
    width: 35px;
    height: 35px;
    position:absolute;
    top: 1vh;
    left:1.25vh;
}

.table_container tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(236, 190, 159)
}

.table_container tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(236, 190, 159)
    

}

.table_container tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(187, 137, 104)
}

.table_container tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(187, 137, 104)
}

.problem_header {
    text-align: center;
    font-size: 20px;
    margin-top: 4vh;

}

.n_input {
    display: flex;
    margin-top: 0vh;
    align-items: baseline;
    text-align: center;

    
}

.n_input input{
    display: inline;
    width: 30%;
    height: 20px;
    margin-left: 1vw;
    border-radius: 0;
    outline: none;
    border: 1px solid black;
    text-align: center;
}

.n_input p {
    font-size: 20px;
    height: 20px;
    margin-left: 5vw;
}

.board_generator {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: dodgerblue;
    font-size: 20px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 5vh;
}

.algorithm {
    padding-top: 5vh;
    border-top: 3px solid black
}
.algorithm_tag {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5vh;
}

.algorithm select{
    width: 100%;
    border-radius: 0;
    height: 40px;;
}

.algorithm button {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: dodgerblue;
    font-size: 20px;
    height: 40px;
    cursor: pointer;
    margin-top: 5vh;
}
.display_settings {
    text-align: center;
    font-size: 20px;
    border-top: 3px solid black;
    padding-top: 5vh;
}

